@()

<!DOCTYPE html>

<html>
<head>
<title>OV Verwerker</title>
<link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-lumen/3.2.0/css/bootstrap.min.css"))"/>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"/>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
@Html(org.webjars.play.RequireJS.setup("javascripts/main"))
</head>
<body ng-controller="MainCtrl">
  <div class="container">
	  <div class="page-header">
	    <h1 class="page-title">OV Declaraties</h1>
	  </div>
    
    <div class="col-md-12" ng-hide="loggedIn">
      <div class="col-md-6">
	      <h3>Inloggen</h3>
	      <div class="form-group">
	        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username" focus-on="focusCommand">
	      </div>
	      <div class="form-group">
	        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
	      </div>
	      <button type="submit" class="btn btn-primary" ng-disabled="!username || !password" ng-click="login()">Log in</button>
      </div>
      <div class="col-md-6">
        <h3>Privacy</h3>
        <p class="well">
          Gebruik hier de inloggegevens die je nodig hebt om op ov-chipkaart.nl in te loggen.
          Deze gegevens worden in je eigen browser opgeslagen, zodat je ze de volgende keer niet opnieuw hoeft in te typen.
          Verder worden ze niet opgeslagen en kan niemand anders erbij.
          Dit kun je natuurlijk zelf controleren in <a href="https://bitbucket.org/jdijkstra/ov-verwerker/src">de broncode</a>.
        </p>
      </div>
    </div>
    <div ng-show="loggedIn" ng-cloak>
	    <div class="col-md-3">
	      <ul class="nav nav-pills nav-stacked">
				  <li ng-repeat="p in periods" ng-class="{active: p == period}">
				    <a href="#" ng-click="selectPeriod(p, {refresh: p == period})">
				      {{ p }}
				      <span class="pull-right" ng-show="p == period">
				        <span class="glyphicon glyphicon-refresh"></span>
				      </span>
				    </a>
				  </li>
				</ul>
	    </div>
	    
	    <div class="col-md-9" ng-show="period">
	      <h3>
          {{period}}
          <button class="btn btn-default" ng-click="createPdf()">Maak PDF</button>
        </h3>
        <div class="well well-sm" ng-show="pdfs[period]">
          <a ng-repeat="pdf in pdfs[period]" href="/pdf/{{pdf.uuid}}"><span class="glyphicon glyphicon-file"></span>&nbsp;{{pdf.timestamp}}</a>
        </div>
	      <div ng-repeat="(date, day) in days | orderBy:'date'">
	        <h4>
            <a class="label label-success pull-right" ng-show="day.selected" ng-click="day.selected = false">Declareren</a>
            <a class="label label-danger pull-right" ng-hide="day.selected" ng-click="day.selected = true">Niet declareren</a>
	          {{day.date}} {{day.destination}} {{day.total | currency:'€'}}
	        </h4>
	        <table class="table table-hover table-condensed">
		        <tbody>
		          <tr ng-repeat="tx in day.transactions | orderBy:'time'">
		            <td style="width: 10%">{{tx.time}}</td>
		            <td style="width: 40%">{{tx.in}}</td>
		            <td>&rarr;</td>
		            <td style="width: 40%">{{tx.out}}</td>
		            <td style="width: 10%" class="text-right">{{tx.price | currency:'€'}}</td>
		          </tr>
		        </tbody>
		      </table>
	      </div>
	    </div>
    </div>
  </div>
</body>
</html>
